 *{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Arial, sans-serif";
}

.bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container {
  background: #ffffff;
  color: #222;
  width: 100%;
  max-width: 650px;
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1d2671;
}

h2 {
  margin-top: 25px;
  color: #c33764;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
label{
  background-color: #4d5ace;
  color: white;
  border-radius: 10px;
}
select,
button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
#timeSelect{
  background-color: rgb(192, 183, 166);
}
button {
  background: #4d5ace;
  color: #fff;
  border: none;
  transition: background 0.3s;
}

button:hover {
  background: #0a1f96;
}
label:hover {
  background: #0a1f96;
}

#paragraph {
  background: #f5f7ff;
  padding: 15px;
  border-radius: 10px;
  line-height: 1.6;
  margin-bottom: 10px;
  border-left: 5px solid #1d2671;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

textarea:focus {
  border-color: #c33764;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
}

.stats p {
  background: #f5f7ff;
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.stats span {
  display: block;
  font-size: 20px;
  margin-top: 5px;
}

#wpm {
  color: #1d2671;
}

#accuracy {
  color: #1c8c4a;
}

#time {
  color: #c33764;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f5f7ff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}
